<h2>My Heroes</h2>

<div>
  <md-input placeholder="Hero name" #heroName>
  </md-input>
  <button md-raised-button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<md-nav-list>
  <md-list-item *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span md-list-avatar>{{hero.id}}</span>
    <div md-line>
      <h4> {{hero.name}} <button md-button (click)="delete(hero); $event.stopPropagation()"><md-icon>close</md-icon></button></h4>
    </div>
  </md-list-item>
</md-nav-list>

<md-card *ngIf="selectedHero">
  <md-card-title>
    {{selectedHero.name | uppercase}} is my hero
  </md-card-title>
  <md-card-actions>
    <button md-button (click)="gotoDetail()">View Details</button>
  </md-card-actions>
</md-card>